
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form submit="/Add" method="post">
    <input name="firstName" />
    <input name="lastName" />
    <input name="cleanliness" />    <!--This will be discarded without anyone noticing-->
    <button type="submit">Add Student</button>
</form>
