@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso Universiy</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to here</h2>
        <p>
            Contoso University demonstrates Entity Framework, Code-First magic that
			only ~I~ know how to do, no one else.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>Actually, I'm <em>not</em> going to link to that.</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>I guess you can do that.</p>
    </div>
</div>